.ms-ProgressIndicator-itemName {
  color: white;
}
.ms-ProgressIndicator-itemDescription {
  color: white;
}
.ms-ProgressIndicator-progressBar {
  background-color: white;
}
.ms-ProgressIndicator-progressTrack {
  background-color: black;
}
